<h2>Cuadrantes</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 animated fadeIn">
    <!-- Card Dark -->
    <div class="col card">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body elegant-color white-text rounded-bottom">

            <!-- Social shares button -->
            <a class="activator waves-effect mr-4"></a>
            <!-- Title -->
            <h4 class="card-title">Cuadrante A</h4>
            <hr class="hr-light">
            <!-- Text -->
            <p class="card-text white-text mb-4">En esta posicion tu pie para lijar es el Izquierdo, y el pie para botar
                es el Derecho.</p>
        </div>

    </div>
    <div class="col card">

        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
            <a>
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body elegant-color white-text rounded-bottom">

            <!-- Social shares button -->
            <a class="activator waves-effect mr-4"></a>
            <!-- Title -->
            <h4 class="card-title">Cuadrante B</h4>
            <hr class="hr-light">
            <!-- Text -->
            <p class="card-text white-text mb-4">En esta posicion tu pie para lijar es el Derecho, y el pie para botar
                es el Izq.</p>
        </div>

    </div>
</div>