<!-- <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
  <div class="col bg-danger">1</div>
  <div class="col bg-warning">2</div>
  <div class="col bg-info">3</div>
  <div class="col bg-danger">4</div>
</div>
<br /> -->

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 animated fadeIn">
    <div class="col">
        <div class="card card-cascade narrower">
            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="assets/imagenes/timmy.jpg" alt="Card image cap" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade">
                <!-- Title -->
                <span class="nombre">
                    <h5 class="font-weight-bold card-title">Timmy Sanchez</h5>
                </span>
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        O
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="red-text pb-2 pt-1">
                        895
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        S
                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        10
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-empty"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        10
                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        15
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-quarter"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        13
                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        17
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-half"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        11
                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        9
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-three-quarters"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        10
                    </h5>
                </span>


            </div>

            <!-- Card footer -->
            <div class="card-footer text-muted text-center">
                Dolphin Flip
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-cascade narrower">
            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="assets/imagenes/betito.jpg" alt="Card image cap" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade">
                <!-- Title -->
                <span class="nombre">
                    <h4 class="font-weight-bold card-title">"Betito" Vazquez</h4>
                </span>
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">

                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="red-text pb-2 pt-1">
                        <i class="fas fa-medal"></i>
                        620
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">

                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        8
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-empty"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        6
                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        11
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-quarter"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        9
                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        11
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-half"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        6
                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        4
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-three-quarters"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        5
                    </h5>
                </span>

            </div>

            <!-- Card footer -->
            <div class="card-footer text-muted text-center">
                Switch Shoveit It
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-cascade narrower">
            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="assets/imagenes/pechugas.jpg" alt="Card image cap" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade">
                <!-- Title -->
                <span class="nombre">
                    <h4 class="font-weight-bold card-title">"Pechugas" Galvan</h4>
                </span>
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">

                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="red-text pb-2 pt-1">
                        <i class="fas fa-medal"></i>
                        620
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">

                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        8
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-empty"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        6
                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        11
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-quarter"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        9
                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        11
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-half"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        6
                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        4
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-three-quarters"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        5
                    </h5>
                </span>

            </div>

            <!-- Card footer -->
            <div class="card-footer text-muted text-center">
                Fakie Halfcab Heelflip
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card-cascade narrower">
            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="assets/imagenes/franky.jpg" alt="Card image cap" />
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade">
                <!-- Title -->
                <span class="nombre">
                    <h4 class="font-weight-bold card-title">"Franky" Rojano</h4>
                </span>
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">

                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="red-text pb-2 pt-1">
                        <i class="fas fa-medal"></i>
                        620
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">

                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        8
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-empty"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        6
                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        11
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-quarter"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        9
                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        11
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-half"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        6
                    </h5>
                </span>
                <!-- Label -->
                <span class="naturalidad">
                    <h5 class="green-text pb-2 pt-1">
                        4
                    </h5>
                </span>
                <span class="puntuacion">
                    <h5 class="black-text pb-2 pt-1">
                        <i class="fas fa-battery-three-quarters"></i>
                    </h5>
                </span>
                <span class="naturalidad">
                    <h5 class="red-text pb-2 pt-1">
                        5
                    </h5>
                </span>

                <!-- Card footer -->
                <div class="card-footer text-muted text-center">
                    Bigger Spin
                </div>
            </div>
        </div>
    </div>
    <!-- Send button -->
    <button routerLink="/partida" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
        type="submit">Iniciar
        Partida</button>
</div>