<!-- predominio -->
<div class="container my-2 py-2 z-depth-1 fondoMadera">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <h3 class="font-weight-bold pt-4 mb-4">{{tema['tema']}}</h3>

        <h5 class="font-weight-bold font-italic mb-5">{{tema['descripcion']}}</h5>

        <div class="row mx-lg-5 mx-md-3">
            <div class="col-md-6 mb-4">

                <div class="view mb-5">
                    <img src="{{tema['imgR1']}}" class="img-fluid" alt="smaple image">
                </div>
                <h4 class="font-weight-bold">{{tema['titulo1']}}</h4>
                <h5 class="font-weight-normal text-muted">{{tema['nota1']}}</h5>

            </div>
            <div class="col-md-6 mb-4">

                <div class="view mb-5">
                    <img src="{{tema['imgR2']}}" class=" img-fluid" alt="smaple image">
                </div>
                <h4 class="font-weight-bold">{{tema['titulo2']}}</h4>
                <h5 class="font-weight-normal text-muted">{{tema['nota2']}}</h5>

            </div>
        </div>

    </section>
    <!--Section: Content-->


</div>
<!-- Cards -->
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-2 animated fadeIn">
    <!-- Card Dark -->
    <div class="col">
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="assets/imagenes/teoria/predominios/regular.png" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body fondoMadera black-text rounded-bottom">

                <!-- Social shares button -->
                <a class="activator waves-effect mr-4"></a>
                <!-- Title -->
                <h4 class="card-title">Predominio Regular</h4>
                <hr class="hr-light">
                <!-- Text -->
                <p class="card-text black-text mb-4">Te acomodas haciendo trucos lijando con tu Pie Izquierdo y Botando
                    con tu Pie derecho.</p>

                <!-- Link -->
                <a href="#!" class="black-text d-flex justify-content-end">
                    <h5>Soy Regular <i class="fas fa-angle-double-right"></i></h5>
                </a>

            </div>

        </div>
    </div>
    <div class="col">
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="assets/imagenes/teoria/predominios/goofy.png" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body black-text fondoMadera rounded-bottom">

                <!-- Social shares button -->
                <a class="activator waves-effect mr-4"></a>
                <!-- Title -->
                <h4 class="card-title">Predominio Goofy</h4>
                <hr class="hr-light">
                <!-- Text -->
                <p class="card-text black-text mb-4">Te acomodas haciendo trucos lijando con tu Pie Derecho y Botando
                    con tu Pie Izquierdo.</p>
                <!-- Link -->
                <a href="#!" class="black-text d-flex justify-content-end">
                    <h5>Soy Goofy <i class="fas fa-angle-double-right"></i></h5>
                </a>

            </div>

        </div>
    </div>

</div>