<!-- Disciplinas -->
<div class="container my-2 py-2 z-depth-1 fondoMadera">


    <!--Section: Content-->
    <section class="dark-grey-text text-center">

        <h3 class="font-weight-bold pt-4 mb-4">{{tema['tema']}}</h3>

        <h5 class="font-weight-bold font-italic mb-5">{{tema['descripcion']}}</h5>

        <div class="row mx-lg-5 mx-md-3">
            <div class="col-md-6 mb-4">

                <div class="view mb-5">
                    <img src="https://mdbootstrap.com/img/illustrations/undraw_grand_slam_0q5r.svg" class="img-fluid"
                        alt="smaple image">
                </div>
                <h4 class="font-weight-bold">{{tema['titulo1']}}</h4>
                <h5 class="font-weight-normal text-muted">{{tema['nota1']}}</h5>

            </div>
            <div class="col-md-6 mb-4">

                <div class="view mb-5">
                    <img src="https://mdbootstrap.com/img/illustrations/undraw_basketball_agx4.png" class="img-fluid"
                        alt="smaple image">
                </div>

                <h4 class="font-weight-bold">{{tema['titulo2']}}</h4>
                <h5 class="font-weight-normal text-muted">{{tema['nota2']}}</h5>

            </div>
        </div>

    </section>
    <!--Section: Content-->


</div>

<h2>Disciplinas</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-3 animated fadeIn">
    <div class="col">
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body fondoMadera black-text rounded-bottom">

                <!-- Social shares button -->
                <a class="activator waves-effect mr-4"></a>
                <!-- Title -->
                <h4 class="card-title">Piso</h4>
                <hr class="hr-light">
                <!-- Text -->
                <p class="card-text black-text mb-4">Como su nombre lo dice son trucos planchados en piso, no requiere
                    obstaculo ni tampoco de un elemento de Parque y los puntos importantes para un buen truco de piso
                    son: El control , la naturaleza, la posicion, el estilo, la altura y la tecnica.</p>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body fondoMadera black-text rounded-bottom">

                <!-- Social shares button -->
                <a class="activator waves-effect mr-4"></a>
                <!-- Title -->
                <h4 class="card-title">Riel</h4>
                <hr class="hr-light">
                <!-- Text -->
                <p class="card-text black-text mb-4">Sobre un riel o una baranda, los puntos importantes para un buen
                    truco de riel son: Longitud, equilibrio, la entrada con la salida, la tecnica y el aterrizaje. </p>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body fondoMadera black-text rounded-bottom">

                <!-- Social shares button -->
                <a class="activator waves-effect mr-4"></a>
                <!-- Title -->
                <h4 class="card-title">Cajon</h4>
                <hr class="hr-light">
                <!-- Text -->
                <p class="card-text black-text mb-4">Sobre un cajon, una banqueta, una banca o una barda, los puntos
                    importantes para un buen
                    truco de cajon son: Longitud, equilibrio, la entrada con la salida, la tecnica y el aterrizaje. </p>
            </div>

        </div>
    </div>
    <div class="col">
        <div class="card">

            <!-- Card image -->
            <div class="view overlay">
                <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body fondoMadera black-text rounded-bottom">

                <!-- Social shares button -->
                <a class="activator waves-effect mr-4"></a>
                <!-- Title -->
                <h4 class="card-title">Bowl</h4>
                <hr class="hr-light">
                <!-- Text -->
                <p class="card-text black-text mb-4">Sobre una piscina, un cuarter, medio tubo, los puntos
                    importantes para un buen
                    truco de bowl son: Longitud, equilibrio, la entrada con la salida, la tecnica y el aterrizaje. </p>
            </div>

        </div>
    </div>
</div>