<ul class="nav nav-tabs justify-content-center" id=" myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="piso-tab" data-toggle="tab" href="#piso" role="piso" aria-controls="piso"
            aria-selected="true">Piso</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="riel-tab" data-toggle="tab" href="#riel" role="tab" aria-controls="riel"
            aria-selected="false">Riel</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="cajon-tab" data-toggle="tab" href="#cajon" role="tab" aria-controls="cajon"
            aria-selected="false">Cajon</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="copping-tab" data-toggle="tab" href="#copping" role="tab" aria-controls="copping"
            aria-selected="false">Copping</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <!-- categorias de piso -->
    <div class="tab-pane fade show active" id="piso" role="tabpanel" aria-labelledby="piso-tab">
        <h2>Variantes Trucos de Piso</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 animated fadeIn">
            <!-- Card Dark -->
            <div class="col card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color white-text rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"></a>
                    <!-- Title -->
                    <h4 class="card-title">Posicion</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">En esta posicion tu pie para lijar es el Izquierdo, y el pie
                        para botar
                        es el Derecho.</p>
                </div>

            </div>
            <div class="col card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color white-text rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"></a>
                    <!-- Title -->
                    <h4 class="card-title">Giro del cuerpo</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">En esta posicion tu pie para lijar es el Derecho, y el pie para
                        botar
                        es el Izq.</p>
                </div>

            </div>
            <!-- Card Dark -->
            <div class="col card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color white-text rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"></a>
                    <!-- Title -->
                    <h4 class="card-title">Digito de grados</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">En esta posicion tu pie para lijar es el Izquierdo, y el pie
                        para botar
                        es el Derecho.</p>
                </div>

            </div>
            <div class="col card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color white-text rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"></a>
                    <!-- Title -->
                    <h4 class="card-title">Flips</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">En esta posicion tu pie para lijar es el Derecho, y el pie para
                        botar
                        es el Izq.</p>
                </div>

            </div>
            <!-- Card Dark -->
        </div>
    </div>
    <div class="tab-pane fade" id="riel" role="tabpanel" aria-labelledby="riel-tab">
        <h2>Variantes Trucos de Riel</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 animated fadeIn">
            <!-- Card Dark -->
            <div class="col card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color white-text rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"></a>
                    <!-- Title -->
                    <h4 class="card-title">Posicion</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">En esta posicion tu pie para lijar es el Izquierdo, y el pie
                        para botar
                        es el Derecho.</p>
                </div>

            </div>
            <div class="col card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color white-text rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"></a>
                    <!-- Title -->
                    <h4 class="card-title">Entrada al Tubo</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">En esta posicion tu pie para lijar es el Derecho, y el pie para
                        botar
                        es el Izq.</p>
                </div>

            </div>
            <!-- Card Dark -->
            <div class="col card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color white-text rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"></a>
                    <!-- Title -->
                    <h4 class="card-title">Truco de Riel</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">En esta posicion tu pie para lijar es el Izquierdo, y el pie
                        para botar
                        es el Derecho.</p>
                </div>

            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="cajon" role="tabpanel" aria-labelledby="cajon-tab">
        <h2>Variantes Trucos de Cajon</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 animated fadeIn">
            <!-- Card Dark -->
            <div class="col card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color white-text rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"></a>
                    <!-- Title -->
                    <h4 class="card-title">Posicion</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">En esta posicion tu pie para lijar es el Izquierdo, y el pie
                        para botar
                        es el Derecho.</p>
                </div>

            </div>
            <div class="col card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color white-text rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"></a>
                    <!-- Title -->
                    <h4 class="card-title">Entrada al cajon</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">En esta posicion tu pie para lijar es el Derecho, y el pie para
                        botar
                        es el Izq.</p>
                </div>

            </div>
            <div class="col card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color white-text rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"></a>
                    <!-- Title -->
                    <h4 class="card-title">Truco de Cajon</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">En esta posicion tu pie para lijar es el Derecho, y el pie para
                        botar
                        es el Izq.</p>
                </div>

            </div>
            <!-- Card Dark -->
            <div class="col card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top" src="assets/imagenes/regular.jpg" alt="Card image cap">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body elegant-color white-text rounded-bottom">

                    <!-- Social shares button -->
                    <a class="activator waves-effect mr-4"></a>
                    <!-- Title -->
                    <h4 class="card-title">Manuals</h4>
                    <hr class="hr-light">
                    <!-- Text -->
                    <p class="card-text white-text mb-4">En esta posicion tu pie para lijar es el Izquierdo, y el pie
                        para botar
                        es el Derecho.</p>
                </div>

            </div>
        </div>
    </div>
</div>