<ul class="nav nav-tabs w-100 justify-content-center" id=" myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link " id="nuevos-tab" data-toggle="tab" href="#nuevos" role="tab" aria-controls="nuevos"
            aria-selected="true">Nuevos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="novatos-tab" data-toggle="tab" href="#novatos" role="tab" aria-controls="novatos"
            aria-selected="false">Novatos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="principiantes-tab" data-toggle="tab" href="#principiantes" role="principiantes"
            aria-controls="piso" aria-selected="true">Principiante</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" id="intermedios-tab" data-toggle="tab" href="#intermedios" role="tab"
            aria-controls="intermedios" aria-selected="false">Intermedios</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="avanzados-tab" data-toggle="tab" href="#avanzados" role="tab" aria-controls="avanzados"
            aria-selected="false">Avanzados</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="expertos-tab" data-toggle="tab" href="#expertos" role="tab" aria-controls="expertos"
            aria-selected="false">Expertos</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <!-- categorias de piso -->
    <div class="tab-pane fade" id="nuevos" role="tabpanel" aria-labelledby="nuevos-tab">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 animated fadeIn">
            <!-- Card Dark -->
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="novatos" role="tabpanel" aria-labelledby="novatos-tab">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 animated fadeIn">
            <!-- Card Dark -->
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <!-- Card Dark -->
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
        </div>
    </div>

    <div class="tab-pane fade  show active" id="principiantes" role="tabpanel" aria-labelledby="principiantes-tab">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 animated fadeIn">
            <!-- Card Dark -->
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <!-- Card Dark -->
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="intermedios" role="tabpanel" aria-labelledby="intermedios-tab">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 animated fadeIn">
            <!-- Card Dark -->
            <app-seleccion-truco></app-seleccion-truco>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <!-- Card Dark -->
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="avanzados" role="tabpanel" aria-labelledby="avanzados-tab">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 animated fadeIn">
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <!-- Card Dark -->
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="expertos" role="tabpanel" aria-labelledby="expertos-tab">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 animated fadeIn">
            <!-- Card Dark -->
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <!-- Card Dark -->
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
            <div class="col">
                <app-seleccion-truco></app-seleccion-truco>
            </div>
        </div>
    </div>
</div>