<!-- Editable table -->
<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        <app-indicador-posicion></app-indicador-posicion>
        <app-respuesta></app-respuesta>
    </h3>
    <div class="card-body">
        <div id="table" class="table-editable">
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-center">Sk8</th>
                        <th class="text-center">S</th>
                        <th class="text-center">K</th>
                        <th class="text-center">A</th>
                        <th class="text-center">T</th>
                        <th class="text-center">E</th>
                        <th class="text-center">Exp</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="pt-3-half" contenteditable="true">
                            <a class="nav-link p-0" href="#">
                                <img src="assets/imagenes/timmy.jpg" class="rounded-circle z-depth-0" alt="avatar image"
                                    height="35">
                            </a>
                        </td>
                        <td class="pt-3-half" contenteditable="true">Halfcab Heelflip</td>
                        <td class="pt-3-half" contenteditable="true">Fakie Bigspin</td>
                        <td class="pt-3-half" contenteditable="true">Bigger Spin</td>
                        <td class="pt-3-half" contenteditable="true">-</td>
                        <td class="pt-3-half" contenteditable="true">-</td>
                        <td class="pt-3-half" contenteditable="true">92</td>

                    </tr>
                    <!-- This is our clonable table line -->
                    <tr>
                        <td class="pt-3-half" contenteditable="true">
                            <a class="nav-link p-0" href="#">
                                <img src="assets/imagenes/franky.jpg" class="rounded-circle z-depth-0"
                                    alt="avatar image" height="35">
                            </a></td>
                        <td class="pt-3-half" contenteditable="true">Double KickFlip</td>
                        <td class="pt-3-half" contenteditable="true">Heel Flip</td>
                        <td class="pt-3-half" contenteditable="true">180 FS</td>
                        <td class="pt-3-half" contenteditable="true">Kick Flip</td>
                        <td class="pt-3-half" contenteditable="true">180 BS</td>
                        <td class="pt-3-half" contenteditable="true">76</td>
                    </tr>
                    <!-- This is our clonable table line -->
                    <tr>
                        <td class="pt-3-half" contenteditable="true">
                            <a class="nav-link p-0" href="#">
                                <img src="assets/imagenes/pechugas.jpg" class="rounded-circle z-depth-0"
                                    alt="avatar image" height="35">
                            </a>
                        </td>
                        <td class="pt-3-half" contenteditable="true">Switch Varial</td>
                        <td class="pt-3-half" contenteditable="true">360 Kick Flip</td>
                        <td class="pt-3-half" contenteditable="true">180 FS Kick Flip</td>
                        <td class="pt-3-half" contenteditable="true">Double Kick Flip</td>
                        <td class="pt-3-half" contenteditable="true">180 BS</td>
                        <td class="pt-3-half" contenteditable="true">49</td>
                    </tr>
                    <!-- This is our clonable table line -->
                    <tr>
                        <td class="pt-3-half" contenteditable="true">
                            <a class="nav-link p-0" href="#">
                                <img src="assets/imagenes/betito.jpg" class="rounded-circle z-depth-0"
                                    alt="avatar image" height="35">
                            </a>
                        </td>
                        <td class="pt-3-half" contenteditable="true">Switch Varial</td>
                        <td class="pt-3-half" contenteditable="true">360 Kick Flip</td>
                        <td class="pt-3-half" contenteditable="true">Shove it</td>
                        <td class="pt-3-half" contenteditable="true">Kick Flip</td>
                        <td class="pt-3-half" contenteditable="true">180 BS</td>
                        <td class="pt-3-half" contenteditable="true">27</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <h3 class="card-footer text-center font-weight-bold text-uppercase py-4">

    </h3>
</div>
<!-- Editable table -->
<!-- Send button -->
<button routerLink="/skates" class="btn btn-outline-info btn-rounded btn-block z-depth-0 my-4 waves-effect"
    type="submit">Terminar
    partida</button>