<div class="truco">
    <div class="row">
        <div class="col">
            <h4>SHOVE-IT</h4>
        </div>
        <div class="col">
            <h4>VARIAL</h4>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <!-- Default inline 1-->
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline1">
                <label class="custom-control-label" for="defaultInline1">
                    <h5><span class="badge badge-success">Ollie</span></h5>
                </label>
            </div>
            <!-- Default inline 2-->
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline2">
                <label class="custom-control-label" for="defaultInline2">
                    <h5><span class="badge badge-info">Nollie</span></h5>
                </label>
            </div>
            <!-- Default inline 3-->
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline3">
                <label class="custom-control-label" for="defaultInline3">
                    <h5><span class="badge badge-success">Fakie</span></h5>
                </label>
            </div>
            <!-- Default inline 4-->
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline4">
                <label class="custom-control-label" for="defaultInline4">
                    <h5><span class="badge badge-info">Switch</span></h5>
                </label>
            </div>
        </div>
        <div class="col">
            <!-- Default inline 1-->
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline1">
                <label class="custom-control-label" for="defaultInline1">
                    <h5><span class="badge badge-info">Ollie</span></h5>
                </label>
            </div>
            <!-- Default inline 2-->
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline2">
                <label class="custom-control-label" for="defaultInline2">
                    <h5><span class="badge badge-success">Nollie</span></h5>
                </label>
            </div>
            <br>
            <!-- Default inline 3-->
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline3">
                <label class="custom-control-label" for="defaultInline3">
                    <h5><span class="badge badge-success">Fakie</span></h5>
                </label>
            </div>
            <!-- Default inline 4-->
            <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" class="custom-control-input" id="defaultInline4">
                <label class="custom-control-label" for="defaultInline4">
                    <h5><span class="badge badge-info">Switch</span></h5>
                </label>
            </div>
            <br>
        </div>
        <div class="w-100"></div>
        <div class="col">
            <h5><span class="badge badge-dark"><i class="fas fa-chess-knight"></i></span><span
                    class="badge badge-dark"><i class="fas fa-chess-queen"></i></span><span class="badge badge-dark"><i
                        class="fas fa-chess-knight"></i></span><span class="badge badge-dark"><i
                        class="fas fa-chess-queen"></i></span></h5>
            <h5><span class="badge badge-dark"><i class="fas fa-chess-king"></i></span> <span
                    class="badge badge-dark"><i class="fas fa-chess-rook"></i> </span><span class="badge badge-dark"><i
                        class="fas fa-chess-knight"></i></span><span class="badge badge-dark"><i
                        class="fas fa-chess-queen"></i></span></h5>


        </div>

    </div>
</div>