<div class="btn-group altura" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-deep-purple btn-rounded waves-effect"><i
                        class="fas fa-anchor fa-sm pr-2" aria-hidden="true"></i> Tail</button>
        <button type="button" class="btn btn-outline-deep-purple btn-rounded waves-effect"><i
                        class="far fa-sun fa-sm pr-2" aria-hidden="true"></i>Lijar</button>
        <button type="button" class="btn btn-outline-deep-purple btn-rounded waves-effect"><i
                        class="fas fa-user-secret fa-sm pr-2" aria-hidden="true"></i>Nose</button>
</div>